# Basic .gitattributes for a R repo.

# Source files
# ============
*.Rdata binary
*.RData binary
*.rda   binary
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	  text
*.R  	  text
*.Rproj text

#Don't detect ipynb as a language, but detect Rmd
*.Rmd linguist-detectable=true
*.ipynb linguist-detectable=true